@media (max-width: 320px) {
    .header{
    width: 320px;
    height: 80px;

    }
    .menu-button{
     position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 260px;
    }
    .image1{
        position: absolute;
        width: 100px;
    height: 65.73px;
    top: 7px;
    left: 25px;

    }
    
}